.group-show-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group-show-overview {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: rgb(224, 224, 224) solid 1px;
}

.group-show-picture {
  background-position: center;
  background-size: 650px;
  background-repeat: no-repeat;
  background-color: teal;
  margin-right: 35px;
  border-radius: 10px;
  width: 550px;
  height: 350px;
  margin-bottom: 30px;
}

.group-show-titlebox {
  width: 400px;
  height: 350px;
}

.group-show-title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

.group-show-info {
  margin-left: 10px;
  margin-bottom: 5px;
}

.group-show-menus-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.group-show-menus {
  height: 60px;
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.group-show-menu-item {
  color: #2e3e48;
  font-size: 18px;
  cursor: pointer;
}

.group-show-join-button-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  height: 60px;
}

.dropdown {
  position: relative;
  top: 0px;
}

.group-show-dropdown {
  display: none;
  background-color: white;
  position: relative;
  top: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  right: 40px;
  box-shadow: 1px 1px 8px rgb(204, 204, 204);
}

.dropdown-item {
  cursor: pointer;
  padding: 10px;
  display: block;
  width: 180px;
  border-radius: 5px;
  border-top: 1px solid rgb(214, 214, 214);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.first-item {
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


.dropdown-item:hover {
  background-color: rgb(240, 240, 240);
}

.no-input {
  display: none;
}

.group-show-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #f65858;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}

.group-plan {
  position: relative;
  right: 0px;
  background-color: rgb(243, 243, 243);
  color: rgb(240, 48, 74);
  border: 1px solid rgb(240, 48, 74);
  cursor: pointer;
}

.group-show-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(247, 245, 245);
  width: 100%;
  height: fit-content;
}

.group-show-lower-left {
    width: 550px;
}

.group-show-desc-container {
  margin-bottom: 80px;
}

.group-show-desc-title {
  margin: 30px 0;
  font-size: 20px;
  font-weight: bold;
}

.group-show-icon {
  margin-left: -4px;
}

.user-icon {
  margin-right: 5px;
}

.user-icon-1 {
  margin-left: 3px;
  margin-right: 5px;
}

.group-show-desc {
  overflow: hidden;
  position: relative;
  font-weight: 100; 
  line-height: 1.3em;
  max-height: 11.2em;
  font-size: 18px; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}

.group-show-desc:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.group-show-desc:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: rgb(247, 245, 245);
}

.group-show-lower-right {
  width: 400px;
}

.event-show-attendees-container {
  display: flex;
  justify-content: space-between;
}