.session-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  height: calc(100vh - 85px);
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  height: auto;
  width: 600px;
}

.session-text-input {
  background-color: rgb(247, 245, 245);
  width: 420px;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 25px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 40px;
}

.session-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 25px;
  text-align: start;
  color: rgb(56, 56, 56);
}

.session-title {
  font-size: 28px;
  font-weight: bold;
  margin: 25px 155px;
}
 
.session-submit {
  background-color: rgb(240, 48, 74);
  margin: 5px 25px 5px;
  width: 420px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.session-submit-disclosure {
  width: 420px;
  margin-top: 80px;
  text-align: center;
  font-weight: 100;
}

.demo {
  position: relative;
  bottom: 130px;
  background-color: rgb(243, 243, 243);
  color: rgb(240, 48, 74);
  border: 1px solid rgb(240, 48, 74);
}

.session-link {
  color: rgb(0, 153, 255);
}

.session-link:hover {
  text-decoration: underline;
}